/* style.css */

.container {
    padding: 20px;
    height: auto;
    background-color: #0056b3;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.ai-help {
    text-align: center;
}

.response-container {
    font-family: 'monospace';
    white-space: pre-wrap;
    padding: 20px;
}

.upload-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.upload-container img {
    cursor: pointer;
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.button {
    width: 150px;
    height: 40px;
    margin-left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
}

.button:hover {
    background-color: #0056b3;
}

.fileinput {
    display: none;
}
