.topbar {
  background-image: linear-gradient(rgb(132, 222, 222),rgb(149, 149, 251), rgb(215, 117, 215));
  width:100%;
  height: 100px;
  position:fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container button{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-items:self-end;
  margin:0 auto;
  text-align: center;
  padding: 4px;

}

.profile{
  justify-content:right;
  margin-right: 1rem;
}
.profile  img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.elements {
  margin-left: 50px;
}

.elements ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

.btn {
  display:flex;
  margin-left: 50px;
}

.elements li {
  color: #1a202c;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  margin-right: 2rem;
  font-family:'Courier New', Courier, monospace;
}

.elements li:hover {
  color:white;
  cursor: pointer;
}

.nav-container button:focus {
  border: none;
  outline: none;
  
}

.nav-container .logo h2 {
  font-family:cursive;
  color:aliceblue;
  font-size: 28px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  animation-name: moveText;
  animation-duration: 1s;
  animation-timing-function:ease-out;
  animation-iteration-count: infinite;
}

@keyframes moveText {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(0);
  }
}


.dark-mode {
  background-color: #1a202c; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}

.profile {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
}

.dropdown-content {
  position: absolute;
  top: calc(100% +0px); /* Position below the profile image */
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 10px;
  width: 16px;
  height: 16px;
  background-color:#ffffff;
  transform: rotate(45deg);
  z-index: -1;
}

.dropdown-content li {
  padding: 10px;
  font-size: 16px;
  color:black;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-content li:hover {
  background-color: #f5f5f5;
}

.nav-menu {
  display: none; /* Initially hide the navigation menu */
}

.nav-menu.active {
  display: block; /* Show the navigation menu when active */
}

.nav-icon {
   display: none;
}


@media only screen and (max-width: 786px) {
  .elements {
      display: inline;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 70%;
      position: absolute;
      top: calc(100% + 0px); /* Position below nav-icon with some spacing */
      right: 0; /* Align with the right edge of its container */
      opacity: 0; /* Start with opacity 0 to hide initially */
      transition: opacity 0.5s ease-out, right 0.5s ease-out; /* Smooth transitions for opacity and right position */
      z-index: 1;
      background-image: linear-gradient(rgb(132, 222, 222), rgb(149, 149, 251), rgb(215, 117, 215));
      color: #1a202c;
      justify-content: flex-end; /* Align items to the end (right) within the flex container */
      border-radius: 8px; /* Optional: Add border radius for rounded corners */
      padding: 10px; /* Optional: Add padding for inner content */
    }
  
    .nav-menu::before {
      content: "";
      position: absolute;
      top: -8px;
      right: 10px;
      width: 16px;
      height: 16px;
      background-color: rgb(132, 222, 222);
      transform: rotate(45deg);
      z-index: -1;
    }
  
    .nav-menu.active {
      right: 20px; /* Adjust right position to show menu aligned with nav-icon */
      opacity: 1; /* Show the nav-menu when active */
    }
  
    .nav-icon {
      display: block;
      justify-content: flex-end;
      margin-left: 20px;
      margin-top:25px;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      color: white;
    }
}  
