/* document.css */

.container {
  height: auto;
  width: 400px; /* Adjust width to 100% for responsiveness */
   /* Set maximum width */
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  }
  
  .paper {
    padding: 20px;
  }
  
  input[type='file'] {
    display: none;
  }

  .button {
    margin-right: 20px; 
  }
  
  @media (max-width: 344px) {
    .container {
      width: calc(100% - 20px); /* Adjust width as needed */
      max-width: none; /* Reset max-width */
      padding: 10px; /* Add padding for better spacing */
    }
  }  